section.nav-menu
    .nav-menu__title-block
        h2.nav-menu__title Dashboard2
            span.nav-menu__title-version v0.1
        img.mobile-menu__close(src="images/mobile-menu__close.svg", alt="mobile-menu-close")
    nav.nav-menu__nav
        ul.nav-menu__list
            li.nav-menu__item.dashboard-icon Dashboard
            li.nav-menu__item.product-icon Product
            li.nav-menu__item.customers-icon.nav-menu__item-active Customers
            li.nav-menu__item.income-icon Income
            li.nav-menu__item.promote-icon Promote
            li.nav-menu__item.help-icon Help
        .nav-menu__bottom
            img.nav-menu__img(src="images/Ellipse-8.png", alt="photo")
            .nav-menu__bottom-info
                p.nav-menu__name Evano
                p.nav-menu__position Project Manager